{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}


header {
    background: #333;
    color: darkred;
    padding: 20px 0;
    background-image: url("images/popcorn.jpg");
}

    header h1 {
        margin-bottom: 10px;
    }

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav a {
    text-decoration: none;
}

    nav a:hover {
        text-decoration: underline;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

.section {
    padding: 20px 0;
}

    .section:nth-child(even) {
        background: #f4f4f4;
        background-color: darkblue;
    }


footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

img {
    max-width: 100%;
    height: auto;
}
